@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.card {
  width: 350px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card__img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}
.card__info {
  text-align: center;
  margin: 5px auto 20px;
}
.card__h1 {
  font-family: 700;
  font-size: 2.3rem;
  color: hsl(218, 44%, 22%);
}
.card__text {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: 400;

  color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 375px) {
  .card {
    width: 90%;
    height: auto;
    gap: 10px;
  }
  .card__h1 {
    font-size: calc(2.3rem - 50%);
  }
  .card__text {
    font-size: calc(1.5rem - 30%);
  }
}
