@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}
html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center; /* x */
  align-items: center; /* y */

  flex-direction: column;
  background-color: var(--lightGray);
}

.card {
  width: 350px;
  height: auto;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  gap: 20px;
}

.card h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;

  color: var(--darkBlue);
}

.card p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;

  font-size: 1.6rem; /* 10px */
  text-align: center;

  color: var(--grayishBlue);
  margin-bottom: 40px;
}
img {
  margin-top: 13px;
  width: 92%;
  border-radius: 10px;
}
